:root {
    --cor-principal: #E15C31;
    --cor-secundaria: #E4E2DD;
    --cor-texto: #403939;
    --cor-fundo: #FFFFFF;
    --cor-terciaria: #043B64; 
    --fonte-principal: 'Dm Sans', sans-serif;

  }


  