<div class="hobby-do-mes-container">
    <h1 class="hobby-title">Hobby do Mês</h1>
  
    <div class="hobby-content">
      <!-- Container com imagem -->
      <div class="hobby-image-container">
        <img class="imgdance" src="images/dançahome.png" alt="Imagem do Hobby">
        <img class="imgdance" src="images/dancehome3.png" alt="Imagem do Hobby">
      </div>
  
      <!-- Container com o texto e botão -->
      <div class="hobby-text-container">
        <p class="favorite-text">O hobby mais favoritado por nossos clientes esse mês</p>
        <button class="discover-button">Descubra</button>
      </div>
    </div>
  </div>
  